extends ../../layout/main/main.pug

block content
  .chat
    aside.aside
      h1 Сайд бар, здесь будет список чатов
    section
      h1 Здесь будет окно чата
      form
        label(for="message") Введите сообщение
        input(type="text" name="message")#message
        button(type="submit") Отправить