include ../../components/headMixin/headMixin.pug

doctype html
html(lang="en")
  +headMixin('Чат здесь и сейчас')
  body
    header
      nav
        a(href="~/src/pages/chat/chat.pug") Доманяя 
        a(href="~/src/pages/profile/profile.pug") Профиль
        a(href="~/src/pages/signUp/signUp.pug") Регистрация
        a(href="~/src/pages/signIn/signIn.pug") Вход
        a(href="~/src/pages/error404/error404.pug") Ошибка 404
        a(href="~/src/pages/error500/error500.pug") Ошибка 500
    .container#root
      block content