* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: $black;
  font-family: 'Inter';
  line-height: 1.5;
}

a {
  text-decoration: none;
}

:link, :visited {
	text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: inherit;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;

  a {
    +a {
      margin-left: 20px;
    }

    border-bottom: 1px solid $black;

    &:hover {
      border: none;
    }
  }
}

.container {
  height: 100%;
}

.red-text {
  color: $red !important;
}