.profile_control
  a(href="~/src/pages/profile/change/changeProfile.pug").profile_control__item Изменить данные 
  a(href="~/src/pages/profile/password/passwordProfile.pug").profile_control__item Изменить пароль
  a(href="~/src/pages/chat/chat.pug").profile_control__item.red-text Выйти