.profile_password {
  width: 40%;
  margin-top: 87px;
  margin-bottom: 150px;

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1;

    input {
      border: none;
      text-align: right;
    }
  }

  &__item + .profile_password__item {
    border-top: 1px solid $lightGray;
  }
}