mixin profilePassword(pass)
  .profile_password
    .profile_password__item
      p Старый пароль
      input(type="password" name="oldPassword" placeholder=pass)
    .profile_password__item
      p Новый пароль
      input(type="password" name="newPassword")
    .profile_password__item
      p Повторите новый пароль
      input(type="password" name="confirmPassword")