.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
  background-color: $white;

  a {
    +a {
      margin-left: 20px;
    }

    border-bottom: 1px solid $black;

    &:hover {
      border: none;
    }
  }
}
