extends ../../../layout/profile/profileLayout.pug
include ../../../components/profileAvatar/profileAvatar.pug
include ../../../components/profilePassword/profilePassword.pug

block profile_avatar
  +profileAvatar()

block profile_content
  +profilePassword('*********')

block profile_control
  include ../../../components/saveButton/saveButton.pug