extends ../../layout/main/main.pug

block content
  section.signUp
    form
      h1 Регистрация

      label(for="email") Почта
      input(type="email" name="email")#email

      label(for="login") Логин
      input(type="text" name="login")#login

      label(for="first_name") Имя
      input(type="text" name="first_name")#first_name

      label(for="second_name") Фамилия
      input(type="text" name="second_name")#second_name

      label(for="phone") Телефон
      input(type="phone" name="phone")#phone

      label(for="password") Пароль
      input(type="password" name="password")#password

      label(for="confirmPass") Пароль (еще раз)
      input(type="password" name="confirmPass")#confirmPass

      button(type="submit") Зарегистрироваться
      a(href="~/src/pages/signIn/signIn.pug") Войти